
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark" margin="0px">
  <a class="navbar-brand" href="/">
    LendKart
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/postp">Post <span class="sr-only">(current)</span></a>
      </li>
      
      
        <li class="nav-item active"> 
          
        <a class="nav-link" href="/scart">Cart<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account</a> 
         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {{#if login }}
          <a class="dropdown-item" href="/user/profile">Profile</a>
          <a class="dropdown-item" href="/user/logout">Logout</a>
          {{ else }}
                 <a class="dropdown-item" href="/user/signin">Signin</a>
                  <a class="dropdown-item" href="/user/signup">Signup</a>
          {{/if}}
            <div class="dropdown-divider"></div>
          
          
          {{!-- <a class="dropdown-item" href="http://localhost:3000/user/signup">Login/Signup</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Logout</a> --}}
        </div>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search Items" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    
  </div>
</nav>