<div class="row">
    <div class="col-md-4 col-md-offset-4">
    <h1>Post Product </h1>
    {{#if hasErrors}}
        <div class="alert alert-danger">
            {{#each messages}}
            <p>{{this}}</p>
            {{/each}}
        </div>
    {{/if}}
    <form action ="/postp" method="post">
    <div class="form-group">
            <label for="title">Product title</label>
            <input type="text" id="title" name="title" class="form-control" >
                  
        </div>
        <div class="form-group">
            <label for="imagePath">Image Path</label>
            <input type="text" id="imagePath" name="imagePath" class="form-control" > <a href ="https://imgur.com/upload" target="_blank">Generate image path</a>
        </div>
           <div class="form-group">
            <label for="price">Price</label>
            <input type="price" id="price" name="price" class="form-control" >
                  
        </div>
           <div class="form-group">
            <label for="basis">Price basis</label>
            <input type="text" id="basis" name="basis" class="form-control">            
        </div>
           <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" class="form-control"> 
           </div> 
           
         
        <button type="submit" class="btn btn-primary">Post Item</button>
    </form>
</div>
</div>